# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.env/
.venv/
env/

# Distribution / Packaging
build/
dist/
*.egg-info/
*.egg
*.whl

# PyInstaller
*.manifest
*.spec

# Installer Logs
pip-log.txt
pip-delete-this-directory.txt

# Unit Test / Coverage Reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_

